<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF8" />
    <title>10 Random Restaurants: Results</title>
</head>

<body>
    <h1>Here are your results for {{category}} food!</h1>

    <table>
        <tr>
            <th>Restaurant Name</th>
            <th>Closed?(1-Yes/0-No)</th>
            <th>Price</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}

    </table>

    <p>Go back to <a href="/">home</a></p>



</body>

</html>