<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF8" />
    <title>Complaint</title>
</head>

<body>
    <h1>Here are the contact info for {{category}}!</h1>

    <table>
        <tr>
            <th>Organization</th>
            <th>Contact</th>
            <th>Website</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}

    </table>

    <p>Go back to <a href="/">home</a></p>



</body>

</html>